asgiref==3.11.1
Django==6.0.4
django-cors-headers==4.9.0
django-filter==25.2
django-stubs==6.0.3
django-stubs-ext==6.0.3
djangorestframework==3.17.1
djangorestframework-stubs==3.16.9
djangorestframework_simplejwt==5.5.1
iniconfig==2.3.0
packaging==26.3
pluggy==1.6.0
psycopg2-binary==2.9.12
Pygments==2.21.0
PyJWT==2.12.1
pytest==9.1.1
pytest-django==4.14.0
python-decouple==3.8
sqlparse==0.5.5
types-PyYAML==6.0.12.20260408
typing_extensions==4.15.0
